<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795921981755-5sgvgidaet3u7abk393l9d81bodjn71v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795921981755-5sgvgidaet3u7abk393l9d81bodjn71v</string>
	<key>API_KEY</key>
	<string>AIzaSyC1Y5mlZTqC77BZ9WQVxJYyB8XM86YSbhI</string>
	<key>GCM_SENDER_ID</key>
	<string>795921981755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.grima.kuhaejwo</string>
	<key>PROJECT_ID</key>
	<string>kuhaejwo</string>
	<key>STORAGE_BUCKET</key>
	<string>kuhaejwo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795921981755:ios:b865675ab122f707fcd71e</string>
</dict>
</plist>